﻿@model Programmieraufgabe.Models.Thesis

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Thesis</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bachelor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bachelor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Master)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Master)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThesisStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThesisStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentEMail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentEMail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Registration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Registration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Filing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Filing)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Summary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Summary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Strengths)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Strengths)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weaknesses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weaknesses)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Evaluation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Evaluation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContentVal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContentVal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LayoutVal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LayoutVal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StructureVal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StructureVal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StyleVal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StyleVal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LiteratureVal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LiteratureVal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DifficultyVal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DifficultyVal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoveltyVal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoveltyVal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RichnessVal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RichnessVal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContentWt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContentWt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LayoutWt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LayoutWt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StructureWt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StructureWt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StyleWt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StyleWt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LiteratureWt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LiteratureWt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DifficultyWt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DifficultyWt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoveltyWt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoveltyWt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RichnessWt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RichnessWt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastModified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastModified)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
